<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobilapp_21">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Galgeleg_s185130"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.Skiftnavn"></activity>
        <activity android:name=".ui.LostScreen" />
        <activity android:name=".ui.WonScreen" />
        <activity android:name=".ui.HowToPlay" />
        <activity android:name=".ui.Choose_game" />
        <activity android:name=".ui.GalgeSpil" />
        <activity android:name=".ui.Difficulty" />
        <activity android:name=".ui.Welcome_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>